@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model VolunteerWebApplication.Models.CreateOpportunity

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Opportunity</title>
</head>
<body>
    <h1>View Opportunity</h1>
    <table width="100%">
        <tr>
            <th><b>Opportunity Name</b></th>
            <th><b>Date</b></th>
            <th><b>Duration</b></th>
            <th><b>Address</b></th>
            <th><b>City</b></th>
            <th><b>State</b></th>
            <th><b>ZIP</b></th>
            <th><b>Allowed Volunteers</b></th>
            <!--<th><b>Paid or Volunteer</b></th>-->
            <th><b>Sign up?</b></th>
        </tr>

        <!-- <tr>
          <td>@ViewBag.EventName</td>
          <td>@ViewBag.Date</td>
          <td>@ViewBag.Duration</td>
          <td>@ViewBag.Address</td>
          <td>@ViewBag.City</td>
          <td>@ViewBag.State</td>
          <td>@ViewBag.Zip</td>
          <td>@ViewBag.NumOfVolunteers</td>
          <!--<td>@ViewBag.Paid @ViewBag.Unpaid @ViewBag.PaidAmount</td>
        <td>
            <form>
                <input type="checkbox" id="signup" name="signup" value="signup">
            </form>
        </td>
        </tr>
        -->

        <tr>
            <td>University of North Florida</td>
            <td>12/30/2022 1:30:00 PM</td>
            <td>2 hours</td>
            <td>1 UNF Dr.</td>
            <td>Jacksonville</td>
            <td>FL</td>
            <td>32224</td>
            <td>20</td>
            <!--<td>@ViewBag.Paid @ViewBag.Unpaid @ViewBag.PaidAmount</td>-->
            <td>
                <form>
                    <input type="checkbox" id="signup" name="signup" value="signup">
                </form>
            </td>
        </tr>

        <tr>
            <td>Mayo Clinic</td>
            <td>1/12/2022 12:30:00 PM</td>
            <td>3 hours</td>
            <td>4500 San Pablo Rd. S.</td>
            <td>Jacksonville</td>
            <td>FL</td>
            <td>32224</td>
            <td>2</td>
            <!--<td>@ViewBag.Paid @ViewBag.Unpaid @ViewBag.PaidAmount</td>-->
            <td>
                <form>
                    <input type="checkbox" id="signup" name="signup" value="signup"
                           onclick="@("window.location.href='" + @Url.Action("MyOpportunities", "Home") +"'");">
                </form>
            </td>
        </tr>

        <tr>
            <td>Ascension St. Vincent Southside Hospital</td>
            <td>1/25/2022 10:30:00 AM</td>
            <td>1 hours</td>
            <td>4201 Belfort Rd</td>
            <td>Jacksonville</td>
            <td>FL</td>
            <td>32216</td>
            <td>3</td>
            <!--<td>@ViewBag.Paid @ViewBag.Unpaid @ViewBag.PaidAmount</td>-->
            <td>
                <form>
                    <input type="checkbox" id="signup" name="signup" value="signup"
                           onclick="@("window.location.href='" + @Url.Action("MyOpportunities", "Home") +"'");">
                </form>
            </td>
        </tr>

        <tr>
            <td>University of North Florida</td>
            <td>2/14/2022 1:00:00 PM</td>
            <td>2 hours</td>
            <td>1 UNF Dr. </td>
            <td>Jacksonville</td>
            <td>FL</td>
            <td>32224</td>
            <td>10</td>
            <!--<td>@ViewBag.Paid @ViewBag.Unpaid @ViewBag.PaidAmount</td>-->
            <td>
                <form>
                    <input type="checkbox" id="signup" name="signup" value="signup"
                           onclick="@("window.location.href='" + @Url.Action("MyOpportunities", "Home") +"'");">
                </form>
            </td>
        </tr>

    </table>


</body>
</html>
