@model List<ApplicationUser>

<h1>List of Active Volunteers</h1>

@foreach (var user in Model)
{
    <form method="post" asp-action="DeleteUser" asp-route-id="@user.Id">
        <div class="card mb-3">
            <div class="card-header">
                User Id : @user.FirstName @user.LastName
            </div>

            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
                <h5 class="card-title"> Instrument List: @user.Instruments</h5>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-danger">Delete this user</button>
            </div>
        </div>
    </form>
       
}