@model List<ApplicationUser>

<h1>List of Archive Volunteers</h1>
@if (ViewData["Message"] != null)
{
    @ViewData["Message"]
}
<div class="alert alert-warning">
    When archiving, this will lock the user out of their account completely. If they have been archived, they will
    need to make a new account. (They will need to use a new email).
</div>
@foreach (var user in Model)
{
    <form method="post" asp-action="ObliterateVolunteer" asp-route-id="@user.Id">
        <div class="card mb-3">
            <div class="card-header">
                User Id : @user.FirstName @user.LastName
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
                <h5 class="card-title">@user.TimeJoined</h5>
                <h5 class="card-title">@user.TimeEnd</h5>
                <h5 class="card-title"> Instrument List: @user.Instruments</h5>
            </div>
        </div>
    </form>

}
