@model List<ApplicationUser>

<h1>List of Archive Staff Members</h1>
@if (ViewData["Message"] != null)
{
    @ViewData["Message"]
}
<div class="alert alert-warning">
    When archiving, this will lock the user out of their account completely. If they have been archived, they will
    need to make a new account. (They will need to use a new email).
</div>


<div class="container">
    <div class="row">
@foreach (var user in Model)
{
 <section id="blog" class="py-3">
   <div class="col-lg-3 col-md-6">
     <div class="card">
            <div class="card-body-users text-white">
                <h2>Full Name of Archived User: @user.FirstName @user.LastName </h2>
                <h5 class="card-title">Email address: @user.UserName</h5>
                <h5 class="card-title">Date of Account Creation: @user.TimeJoined.ToString("MM/dd/yyyy")</h5>
                <h5 class="card-title">Date of Archiving User: @user.TimeEnd.ToString("MM/dd/yyyy")</h5>
                <h5 class="card-title">Position: @user.Position</h5>
            </div>
        </div>
     </div>
</section>
}
    </div>
</div>
