@model CreateStaffPasswordViewModel

<h1>Create your password to finalize your Streams of Sound Staff Account.</h1>

<div>
    <form method="post">
        
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Token" type="hidden"/>
        <input asp-for="Email" type="hidden" />
        
        <div class="form-outline mb-4">
            <input asp-for="@Model.Password" class="form-control" autocomplete="new-password" aria-required="true" />
            <label asp-for="@Model.Password"></label>
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>
        <br />
        <div class="form-outline mb-4">
            <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
            <label asp-for="@Model.ConfirmPassword"></label>
            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
        </div>
        <br />
        <div class="whiteButtonText">
            <button type="submit" class="block">Create Staff Password</button>
        </div>
    </form>
</div>