@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Internal
@model CreateNewStaffRequest

<h1>Register a New Streams of Sound Staff Member</h1>

<div class="row">
    <div class="col-md-10">
        <form id="registerForm" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="@Model.FirstName"></label>
                <input asp-for="@Model.FirstName" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <label asp-for="@Model.LastName"></label>
                <input asp-for="@Model.LastName" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <label asp-for="@Model.Email"></label>
                <input asp-for="@Model.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <label asp-for="@Model.Position"></label>
                <input asp-for="@Model.Position" class="form-control"aria-required="true" />
                <span asp-validation-for="@Model.Position" class="text-danger"></span>
            </div>
            <br />
            <div class="rounded-custom-button">
                <button id="registerSubmit" type="submit" class="block">Register</button>
            </div>
            <br />
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}