@model StreamsOfSound.Models.ViewModel.ConfirmSignUpViewModel

<body>
    <h1>Confirmation of Sign Up</h1>
    <div class="container-details">
    @using (Html.BeginForm("ConfirmSignUp", "Opportunity", FormMethod.Post))
    {
        <input type="hidden" name="UserId" value="@Model.UserId" />
        <input type="hidden" name="InstrumentSlotsId" value="@Model.Slot.Id" />
        <table>
            <tr>
            <th>User Information</th>
            <tr>
                <td>First Name: </td>
                <td>@Model.User.FirstName</td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td>@Model.User.LastName
            </tr>
            <tr>
                <td>Email: </td>
                <td>@Model.User.Email
            <br />
            </tr>

            <tr>
            <th>Opportunity Information</th>
            <tr>
                <td>Opportunity Name: </td>
                <td>@Model.Opportunity.Name
            </tr>
            <tr>
                <td>Opportunity Address: </td>
                <td>@Model.Opportunity.Address
            </tr>
            <tr>
                <td>Opportunity City: </td>
                <td>@Model.Opportunity.City
            </tr>
            <tr>
                <td>Opportunity State: </td>
                <td>@Model.Opportunity.State
            </tr>
            <tr>
                <td>Opportunity Zip: </td>
                <td>@Model.Opportunity.Zip
            </tr>
            <tr>
                <td>Opportunity Start Time: </td>
                <td>@Model.Opportunity.StartTime.ToString("MM-dd-yyyy HH:mm:ss tt")
            </tr>
            <tr>
                <td>Opportunity End Time: </td>
                    <td>
                        @Model.Opportunity.EndTime.ToString("MM-dd-yyyy hh:mm:ss tt")
            <br />
            </tr>

            <tr>
            <th>Instrument Slot you signed up for</th>
            <tr>
                <td>Slot Instrument: </td>
                <td>@Model.Slot.Instrument
            </tr>
            <tr>
                <td>Slot StartTime: </td>
                <td>@Model.Slot.StartTime
            </tr>
            <tr>
                <td>Slot EndTime: </td>
                <td>@Model.Slot.EndTime
            <br />
            </tr> 
            <tr>
                <td><button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("OpportunityList","Opportunity")'">Back to List</button></td>
                <td><button type="submit" class="btn btn-primary" />Submit</td>
            </tr>
        </table>
    }
    </div>
</body>
