@model StreamsOfSound.Models.ViewModel.ConfirmSignUpViewModel

<h1>Confirm Sign Up</h1>
<body>
    @using (Html.BeginForm("ConfirmSignUp", "Opportunity", FormMethod.Post))
    {
        <input type="hidden" name="UserId" value="@Model.UserId" />
        <input type="hidden" name="InstrumentSlotsId" value="@Model.Slot.Id" />

        <table>
            <tr>Confirm Sign Up Table</tr>
            <tr>
                <td>User ID: </td>
                <td>@Model.User.Id</td>
            </tr>
            <tr>
                <td>Opp ID: </td>
                <td>@Model.Opportunity.Id</td>
            </tr>
            <tr>
                <td>First Name: </td>
                <td>@Model.User.FirstName</td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td>@Model.User.LastName
            </tr>
            <tr>
                <td>Email: </td>
                <td>@Model.User.Email
            </tr>
            <tr>
                <td>Opportunity Name: </td>
                <td>@Model.Opportunity.Name
            </tr>
            <tr>
                <td>Opportunity Address: </td>
                <td>@Model.Opportunity.Address
            </tr>
            <tr>
                <td>Opportunity City: </td>
                <td>@Model.Opportunity.City
            </tr>
            <tr>
                <td>Opportunity State: </td>
                <td>@Model.Opportunity.State
            </tr>
            <tr>
                <td>Opportunity Zip: </td>
                <td>@Model.Opportunity.Zip
            </tr>
            <tr>
                <td>Opportunity Start Time: </td>
                <td>@Model.Opportunity.StartTime
            </tr>
            <tr>
                <td>Opportunity End Time: </td>
                <td>@Model.Opportunity.EndTime
            </tr>
            <tr>
                <td>Slot Instrument: </td>
                <td>@Model.Slot.Instrument
            </tr>
            <tr>
                <td>Slot StartTime: </td>
                <td>@Model.Slot.StartTime
            </tr>
            <tr>
                <td>Slot EndTime: </td>
                <td>@Model.Slot.EndTime
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    }
</body>
