@model StreamsOfSound.Models.ViewModel.ConfirmSignUpViewModel

<h1>Confirm Sign Up</h1>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">First Name : @Model.UserId.FirstName</h5>
        </div>
        <div class="card-body">
            <h5 class="card-title">Last Name : @Model.UserId.LastName</h5>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Email : @Model.UserId.Email
            </h5>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Opportunity Name: @Model.Opportunity.Name
            </h5>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Opportunity Address: @Model.Opportunity.Address + @Model.Opportunity.City + @Model.Opportunity.State + @Model.Opportunity.Zip
            </h5>
        </div>
    <div class="card-body">
        <h5 class="card-title">
            Opportunity Duration: @Model.Opportunity.StartTime
        </h5>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            Opportunity Start Time: @Model.Opportunity.EndTime
        </h5>
    </div>
        <br>
        <button type="button" class="btn btn-primary btn-sm">Cancel</button> <br>
        <button type="button" class="btn btn-primary btn-sm"
        onclick="location.href='@Url.Action("MyOpportunities", "Opportunity")'">Confirm</button>
        <br>
    </div>
