@model Opportunity
@{
    ViewData["Title"] = "Edit";
    var slots = (List<InstrumentsSlots>)ViewData["OpenSlots"];
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
</head>
<style>
    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }
</style>
<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <hr>
        <div>
            <h2>@Model.Name</h2>
            <p><strong>Date and Time:</strong> @Model.StartTime.ToString("dddd, MMMM dd, yyyy") at @Model.StartTime.ToString("h:mm tt") - @Model.EndTime.ToString("h:mm tt")</p>
            <p><strong>Location:</strong> @Model.Address, @Model.City, @Model.State @Model.Zip</p>
        </div>
        <div>
            <h3>Description</h3>
            <p>@Model.Description</p>
        </div>
        <div>
            <h3>Event Details</h3>
            <div class="col-md-6 mb-3">
                <div id="time-slots">
                    @for (int i = 0; i < slots.Count(); i++)
                    {
                        <div class="instrument" id="instrument-@i">
                            <label for="instruments">Instruments</label>
                            <input type="text" id="instruments" name="Slots[@i].Instrument" placeholder="Instruments" value="@slots[i].Instrument" fdprocessedid="ql2e4t">
                            <label for="startTime">Start:</label>
                            <input type="datetime-local" id="startTime" name="Slots[@i].StartTime" value="@slots[i].StartTime.ToString("yyyy-MM-ddTHH:mm:ss")" placeholder="Start Time">
                            <label for="endTime">End:</label>
                            <input type="datetime-local" id="endTime" name="Slots[@i].EndTime" value="@slots[i].EndTime.ToString("yyyy-MM-ddTHH:mm:ss")" placeholder="End Time">
                            @Html.ActionLink("SignUp", "PassingInSignUp","Opportunity", new { Id = slots[i].Id, OpportunityId = Model.Id })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>