@model Opportunity
@{
    ViewData["Title"] = "Edit";
    var slots = (List<InstrumentsSlots>)ViewData["Slots"];
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        @Html.AntiForgeryToken()
        <div class="row pb-2">
            <h2>Edit Opportunity</h2>
        </div>
        <form method="post" id="frm-edit" action="Edit" width="100%" display="inline-block">
            @Html.HiddenFor(m=> m.Id)
            <div class="col-md-6 mb-3">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="@Model.Name" />
            </div>
            <div class="col-md-6 mb-3">
                <label for="StartDateTimeUtc">Start Date Time:</label>
                <input type="datetime-local" class="form-control" id="StartDateTimeUtc" name="StartTime" value="@Model.StartTime.ToString("yyyy-MM-ddTHH:mm:ss")" />
            </div>
            <div class="col-md-6 mb-3">
                <label for="EndDateTimeUtc">End Date Time:</label>
                <input type="datetime-local" class="form-control" id="EndDateTimeUtc" name="EndTime" value="@Model.EndTime.ToString("yyyy-MM-ddTHH:mm:ss")" />
            </div>
            <div class="col-md-6 mb-3">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description"></textarea>
            </div>
             <div class="col-md-6 mb-3">
                <a href="javascript:void(0);" class="btn btn-primary" id="add-slot">Add Instruments and Time Slots</a> <br />
            <div id="time-slots">
                    @for (int i = 0; i < slots.Count(); i++)
                    {
                        <div class="instrument" id="instrument-@i">
                            <label for="instruments">Instruments: &nbsp;</label>
                            <input type="text" id="instruments" name="Slots[@i].Instrument" placeholder="Instruments" value="@slots[i].Instrument" fdprocessedid="ql2e4t"> <br />
                            <label for="startTime">Start: &nbsp;</label>
                            <input type="datetime-local" id="startTime" name="Slots[@i].StartTime" value="@slots[i].StartTime.ToString("yyyy-MM-ddTHH:mm:ss")" placeholder="Start Time"> <br/>
                            <label for="endTime">End: &nbsp; </label>
                            <input type="datetime-local" id="endTime" name="Slots[@i].EndTime" value="@slots[i].EndTime.ToString("yyyy-MM-ddTHH:mm:ss")" placeholder="End Time"> <br />
                            <a href="javascript:void(0);" class="btn btn-danger btn-delete" data-slot="@i">Delete Slot</a>
                        </div>
                    }
            </div>
        </div>

            <div class="col-md-6 mb-3">
                <label for="Address">Address:</label>
                <input type="text" class="form-control" id="address" name="address" value="@Model.Address" />
            </div>
            <div class="col-md-6 mb-3">
                <label for="city">Address 1:</label>
                <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address1" />
            </div>
            <div class="col-md-3 mb-3">
                <label for="state">State:</label>
                <select class="form-control" name="State" id="State">
                    <option selected disabled>Choose...</option>
                    <option value="AL">AL</option>
                    <option value="AK">AK</option>
                    <option value="AZ">AZ</option>
                    <option value="AR">AR</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DE">DE</option>
                    <option value="DC">DC</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="IA">IA</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="ME">ME</option>
                    <option value="MD">MD</option>
                    <option value="MA">MA</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MS">MS</option>
                    <option value="MO">MO</option>
                    <option value="MT">MT</option>
                    <option value="NE">NE</option>
                    <option value="NV">NV</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NY">NY</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VT">VT</option>
                    <option value="VA">VA</option>
                    <option value="WA">WA</option>
                    <option value="WV">WV</option>
                    <option value="WI">WI</option>
                    <option value="WY">WY</option>
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <label for="city">City:</label>
                <input type="text" class="form-control" id="city" name="city" value="@Model.City" />
            </div>
            <div class="col-md-6 mb-3">
                <label for="zip">ZIP:</label>
                <input type="text" class="form-control" id="zip" name="zip" value="@Model.Zip" />
            </div>

            <br>
            <br>

            <input type="submit" value="Save" class="btn btn-primary" asp-action="Edit">
            <td><button type="button" class="btn-warning" onclick="location.href='@Url.Action("OpportunityStaffList","Opportunity")'">Back to List</button></td>
        </form>
    </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        console.log("Ready!");

        var description = document.getElementById("description")
        description.value = "@Model.Description";

        console.log(description);
        @if(!string.IsNullOrEmpty(Model.State))
        {
            <text>
            $("#State").val("@Model.State");
            </text>
        }
            $("#frm-edit").on("click", ".btn-delete", function () {
                var slotId = $(this).attr("data-slot");
                $("#instrument-" + slotId).remove();
                slotCounter--;
                var newSlotCount = 0;
                const regex = /\[[0-9]+\]/gm;
                $(".instrument").each(function (k, v) {
                    var oldHtml = $(v).html();
                    var newHtml = oldHtml.replace(regex, "[" + newSlotCount + "]");
                    console.log({ new_Html: newHtml });
                    $(v).html(newHtml);
                    newSlotCount++;
                });
                slotCounter = newSlotCount;
            });
    });
    const timeSlotsDiv = document.querySelector("#time-slots");
    const addSlotButton = document.querySelector("#add-slot");
    var slotCounter = @slots.Count();
    addSlotButton.addEventListener("click", () => {

        const newSlot = document.createElement("div");
        var slotRow = '<div class="instrument" id="instrument-' + slotCounter + '">'
        slotRow += '<label for="instruments">Instruments: &nbsp;</label>';
        slotRow += '<input type="text" id="instruments" name="Slots[' + slotCounter + '].Instrument" placeholder="Instruments"><br />';
        slotRow += '<label for="startTime">Start: &nbsp;</label>';
        slotRow += '<input type="datetime-local" id="startTime" name="Slots[' + slotCounter + '].StartTime" placeholder="Start Time"><br />';
        slotRow += '<label for="endTime">End: &nbsp;</label>';
        slotRow += '<input type="datetime-local" id="endTime" name="Slots[' + slotCounter + '].EndTime" placeholder="End Time"><br />';
        slotRow += '<a href="javascript:void(0);" class="btn btn-danger btn-delete" data-slot="' + slotCounter + '">Delete Slot</a>'
        slotRow += '</div>'

        newSlot.innerHTML = slotRow;
        timeSlotsDiv.appendChild(newSlot);
        slotCounter++;
    });

    document.querySelector('form').addEventListener('submit', function (event) {
        var name = document.getElementById('name').value;
        var startDateTime = document.getElementById('StartDateTimeUtc').value;
        var endDateTime = document.getElementById('endDateTimeUtc').value;
        var description = document.getElementById('description').value;
        var address = document.getElementById('address').value;
        var address1 = document.getElementById('address1').value;
        var state = document.getElementById('state').value;
        var city = document.getElementById('city').value;
        var zip = document.getElementById('zip').value;
        var SlotsOpenings = document.getElementById('SlotsOpenings').value;

        if (name === '') {
            alert('Please enter Opportunity Name.');
            event.preventDefault();
            return false;
        }

        if (startDateTime === '') {
            alert('Please enter Start Date & Time.');
            event.preventDefault();
            return false;
        }

        if (endDateTime === '') {
            alert('Please enter End Date & Time.');
            event.preventDefault();
            return false;
        }

        if (description === '') {
            alert('Please enter Description.');
            event.preventDefault();
            return false;
        }

        if (address === '') {
            alert('Please enter Address.');
            event.preventDefault();
            return false;
        }

        if (state === '') {
            alert('Please select State.');
            event.preventDefault();
            return false;
        }

        if (city === '') {
            alert('Please enter City.');
            event.preventDefault();
            return false;
        }

        if (zip === '') {
            alert('Please enter Zip.');
            event.preventDefault();
            return false;
        }

        if (SlotsOpenings === '') {
            alert('Please enter Slots Openings.');
            event.preventDefault();
            return false;
        }
    });</script>

