@using StreamsOfSound.Models.ViewModel
@model List<MyOpportuntiesViewModel>
@{
    ViewData["Title"] = "My Opportunities";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    @Html.AntiForgeryToken()
    <table id="oppTable" class="table table-bordered table-striped" style="width: 100%" cellpadding="0" cellspacing="0">
        <thead class="thead-light">
            <tr>
                <th><b>@Html.DisplayNameFor(x => x.FirstOrDefault()!.Name)</b></th>
                <th><b>@Html.DisplayNameFor(x => x.FirstOrDefault()!.StartTime)</b></th>
                <th><b>@Html.DisplayNameFor(x => x.FirstOrDefault()!.EndTime)</b></th>
                <th><b>@Html.DisplayNameFor(x => x.FirstOrDefault()!.Address)</b></th>
                <th><b>@Html.DisplayNameFor(x => x.FirstOrDefault()!.City)</b></th>
                <th><b>@Html.DisplayNameFor(x => x.FirstOrDefault()!.State)</b></th>
                <th><b>@Html.DisplayNameFor(x => x.FirstOrDefault()!.Zip)</b></th>
                <th><b>@Html.DisplayNameFor(x => x.FirstOrDefault()!.Instrument)</b></th>
                <th><b>@Html.DisplayNameFor(x => x.FirstOrDefault()!.SlotStartTime)</b></th>
                <th><b>@Html.DisplayNameFor(x => x.FirstOrDefault()!.SlotEndTime)</b></th>
                <th> </th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (var opp in Model)
                {
                                <tr>
                                    <td>@opp.Name</td>
                                    <td>@opp.StartTime.ToString("MM/dd/yyyy hh:mm tt")</td>
                                    <td>@opp.EndTime.ToString("MM/dd/yyyy hh:mm tt")</td>
                                    <td>@opp.Address</td>
                                    <td>@opp.City</td>
                                    <td>@opp.State</td>
                                    <td>@opp.Zip</td>
                                    <td>@opp.Instrument</td>
                                    <td>@opp.SlotStartTime</td>
                                    <td>@opp.SlotEndTime</td>
                                    <td>@Html.ActionLink("CancelOpportunity", "CancelOpportunity", new { Id = opp.signUpId })</td>
                                </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>

@section Scripts
    {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />

    <script>
        $(document).ready(function () {
            $('#oppTable').DataTable({
                rowReorder: {
                    selector: 'td:nth-child(1)'
                },
                columnDefs: [
                    { orderable: false, className: 'reorder', targets: 7 },
                    { orderable: true, targets: '_all' }
                ],
                responsive: true,
                processing: true,
                ordering: true,
                paging: true,
                searching: true,
                columns: [
                    { "data": "Name" },
                    { "data": "StartTime" },
                    { "data": "EndTime" },
                    { "data": "Address" },
                    { "data": "City" },
                    { "data": "State" },
                    { "data": "Zip" },
                    { "data": "Instrument" },
                    { "data": "SlotStartTime" },
                    { "data": "SlotEndTime" },
                    { "data": "Actions" }
                ],
                "language": {
                    "emptyTable": "No Opportunities Available. Check back soon."
                }
            });
        });
        </script>
}





