
@model List<Opportunity>
@{
    ViewData["Title"] = "View Opportunities";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <h1>@ViewData["Title"]</h1>
        <table class="table" width="100%">
            <thead class="thead-light">
                <tr>
                    <th><b>@Html.DisplayNameFor(x => x.FirstOrDefault()!.Name)</b></th>
                    <th><b>@Html.DisplayNameFor(x => x.FirstOrDefault()!.StartDateTimeUtc)</b></th>
                    <th><b>@Html.DisplayNameFor(x => x.FirstOrDefault()!.Duration)</b></th>
                    <th><b>@Html.DisplayNameFor(x => x.FirstOrDefault()!.Address)</b></th>
                    <th><b>@Html.DisplayNameFor(x => x.FirstOrDefault()!.City)</b></th>
                    <th><b>@Html.DisplayNameFor(x => x.FirstOrDefault()!.State)</b></th>
                    <th><b>@Html.DisplayNameFor(x => x.FirstOrDefault()!.Zip)</b></th>
                    <th><b>@Html.DisplayNameFor(x => x.FirstOrDefault()!.SlotsAvailable)</b></th>
                    <th><b>Sign up?</b></th>
                </tr>
            </thead>

            <tbody>
            @{
                if(Model == null || Model.Count() == 0)
                {
                        <tr><td colspan="100">No data</td></tr>
                    return;
                }

                foreach (var opp in Model)
                {
                        <tr>
                            <td>@opp.Name</td>
                            <td>@opp.StartDateTimeUtc</td>
                            <td>@opp.Duration</td>
                            <td>@opp.Address</td>
                            <td>@opp.City</td>
                            <td>@opp.State</td>
                            <td>@opp.Zip</td>
                            <td>@opp.SlotsAvailable</td>
                            <td>
                            <button type="button" 
                            onclick="location.href='@Url.Action("ConfirmSignUp", "Opportunity")'" 
                            class="btn btn-primary btn-sm">
                                Sign Up
                                </button>
                            </td>
                        </tr>
                }
            }
            </tbody>
        </table>
    </body>
</html>