@using StreamsOfSound.Models.ViewModel
@model OpportunityStaffListViewModel
@{
    ViewData["Title"] = "Opportunity List";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>

<body>
    @Html.AntiForgeryToken()

    <table id="oppTable" class="table table-bordered table-striped" style="width: 100%" cellpadding="0" cellspacing="0">
        <thead class="thead-light">
            <tr>
                <th><b>@Html.DisplayNameFor(x => x.Opportunity.FirstOrDefault()!.Name)</b></th>
                <th><b>@Html.DisplayNameFor(x => x.Opportunity.FirstOrDefault()!.StartTime)</b></th>
                <th><b>@Html.DisplayNameFor(x => x.Opportunity.FirstOrDefault()!.EndTime)</b></th>
                <th><b>@Html.DisplayNameFor(x => x.Opportunity.FirstOrDefault()!.Address)</b></th>
                <th><b>@Html.DisplayNameFor(x => x.Opportunity.FirstOrDefault()!.City)</b></th>
                <th><b>@Html.DisplayNameFor(x => x.Opportunity.FirstOrDefault()!.State)</b></th>
                <th><b>@Html.DisplayNameFor(x => x.Opportunity.FirstOrDefault()!.Zip)</b></th>
                @*<th><b>@Html.DisplayNameFor(x => x.Opportunity.FirstOrDefault()!.SlotsAvailable)</b></th>*@
                <th><b>Actions</b></th>
            </tr>
        </thead>

        <tbody>
            @{
                if (Model == null || Model.Opportunity.Count() == 0)
                {
                        <tr><td colspan="100">No Opportunities</td></tr>
                    return;
                }

                foreach (var opp in Model.Opportunity)
                {
                    <tr>
                        <td>@opp.Name</td>
                        <td>@opp.StartTime.ToString("MM/dd/yyyy hh:mm tt")</td>
                        <td>@opp.EndTime.ToString("MM/dd/yyyy hh:mm tt")</td>
                        <td>@opp.Address</td>
                        <td>@opp.City</td>
                        <td>@opp.State</td>
                        <td>@opp.Zip</td>
                        @*<td>@Model.Slots.Where(m=>m.OpportunityId == opp.Id).Count()</td>*@
                    <td>
                        @Html.ActionLink("Details", "Details", new { Id = opp.Id })
                    </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />

    <script>$(document).ready(function () {
            $('#oppTable').DataTable({
                rowReorder: {
                    selector: 'td:nth-child(1)'
                },
                responsive: true,
                processing: true,
                ordering: true,
                paging: true,
                searching: true,
                columns: [
                    { "data": "Name" },
                    { "data": "StartTime" },
                    { "data": "EndTime" },
                    { "data": "Address" },
                    { "data": "City" },
                    { "data": "State" },
                    { "data": "Zip" },
                    { "data": "Actions" }
                ],
                "language": {
                    "emptyTable": "No Opportunities Available. Check back soon."
                }
            });
        });
        function confirmDelete() {
            return confirm("Are you sure you want to delete this Opportunity? This action is permenant, once you click ok you wont be able to get it back.");
        }
        function confirmArchive() {
            return confirm("Are you sure you want to archive this Opportunity? This item will be moved to the Archived list. ");
        }</script>
}