@model List<VolunteerWebApplication.Models.OpportunitiesModel>



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View Opportunities</title>
</head>
<body>
    <h1>View Opportunities</h1>
    <table width="100%">
        <tr>
            <th><b>Opportunity Name</b></th>
            <th><b>Date</b></th>
            <th><b>Duration</b></th>
            <th><b>Address</b></th>
            <th><b>City</b></th>
            <th><b>State</b></th>
            <th><b>ZIP</b></th>
            <th><b>Allowed Volunteers</b></th>
            <th><b>Sign up?</b></th>
        </tr>
        <tr>
            <td>@ViewBag.EventName</td>
            <td>@ViewBag.Date</td>
            <td>@ViewBag.Duration</td>
            <td>@ViewBag.Address</td>
            <td>@ViewBag.City</td>
            <td>@ViewBag.State</td>
            <td>@ViewBag.Zip</td>
            <td>@ViewBag.NumOfVolunteers</td>
            <td> <form>
                    <input type="checkbox" id="signup" name="signup" value="signup">
                </form>
            </td>
        </tr>

        @*@foreach (var opp in Model)*@
        @*{
            <tr>
                <td>opp.EventName</td>
                <td>opp.DateTime</td>
                <td>opp.Duration</td>
                <td>opp.Address</td>
                <td>opp.City</td>
                <td>opp.State</td>
                <td>opp.Zip</td>
                <td>opp.NumOfVolunteers</td>
                <td>
                    <form>
                        <input type="checkbox" id="signup" name="signup" value="signup">
                    </form>
                </td>
            </tr>
        }
      *@

        <tr>
            <td>University of North Florida</td>
            <td>12/30/2022 1:30:00 PM</td>
            <td>2 hours</td>
            <td>1 UNF Dr.</td>
            <td>Jacksonville</td>
            <td>FL</td>
            <td>32224</td>
            <td>20</td>
            @*<td>@Model.Paid @Model.Unpaid @Model.PaidAmount</td>*@
            <td>
                <form>
                    <input type="checkbox" id="signup" name="signup" value="signup">
                </form>
            </td>
        </tr>

        <tr>
            <td>Mayo Clinic</td>
            <td>1/12/2022 12:30:00 PM</td>
            <td>3 hours</td>
            <td>4500 San Pablo Rd. S.</td>
            <td>Jacksonville</td>
            <td>FL</td>
            <td>32224</td>
            <td>2</td>
            @*<td>@Model.Paid @Model.Unpaid @Model.PaidAmount</td>*@
            <td>
                <form>
                    <input type="checkbox" id="signup" name="signup" value="signup">
                </form>
            </td>
        </tr>

        <tr>
            <td>Ascension St. Vincent Southside Hospital</td>
            <td>1/25/2022 10:30:00 AM</td>
            <td>1 hours</td>
            <td>4201 Belfort Rd</td>
            <td>Jacksonville</td>
            <td>FL</td>
            <td>32216</td>
            <td>3</td>
            @*<td>@Model.Paid @Model.Unpaid @Model.PaidAmount</td>*@
            <td>
                <form>
                    <input type="checkbox" id="signup" name="signup" value="signup">
                </form>
            </td>
        </tr>

        <tr>
            <td>University of North Florida</td>
            <td>2/14/2022 1:00:00 PM</td>
            <td>2 hours</td>
            <td>1 UNF Dr. </td>
            <td>Jacksonville</td>
            <td>FL</td>
            <td>32224</td>
            <td>10</td>
            @*<td>@Model.Paid @Model.Unpaid @Model.PaidAmount</td>*@
            <td>
                <form>
                    <input type="checkbox" id="signup" name="signup" value="signup">
                </form>
            </td>
        </tr>

    </table>


</body>
</html>
